<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Machine Learning Application</title>
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
<h1>Something went wrong! </h1>
<h2>Our Engineers are on it</h2>
<a href="/machine-learning">Go Home</a>
</body>
</html>