<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Machine Learning Application</title>
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
<h1>Working correclty! </h1>
</body>
</html>